<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title style="text-align:center;">Editar solicitud <ion-icon name="create"></ion-icon></ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ex1">

 <br><br>

        *Folio
        <ion-input type="text" [(ngModel)]="id" required readonly></ion-input>
             <hr style="height:2px;border-width:0;color:gray;background-color:gray">

      
         *Empleado
        <ion-input type="text" [(ngModel)]="nombre_empleado" required></ion-input>
             <hr style="height:2px;border-width:0;color:gray;background-color:gray">

          *Sucursal
          <ion-input type="text"[(ngModel)]="sucursal" required></ion-input>
     <hr style="height:2px;border-width:0;color:gray;background-color:gray">
         *Proveedor
          <ion-input [(ngModel)]="proveedor" type="text"></ion-input>
     <hr style="height:2px;border-width:0;color:gray;background-color:gray">
       
          *Nombre de insumo
          <ion-input [(ngModel)]="insumo_nombre" type="text" required></ion-input>
     <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        
          *Descripción
          <ion-input [(ngModel)]="descripcion" type="text" required></ion-input>
     <hr style="height:2px;border-width:0;color:gray;background-color:gray">
       
          *Marca
          <ion-input [(ngModel)]="marca" type="text" required></ion-input>
     <hr style="height:2px;border-width:0;color:gray;background-color:gray">
      
          *Cantidad solicitada
          <ion-input [(ngModel)]="cantidad_solicitada"  type="number" required></ion-input>
     <hr style="height:2px;border-width:0;color:gray;background-color:gray">
      *Cantidad recibida
          <ion-input [(ngModel)]="cantidad_recibida" (ngModelChange)="calculo()" type="number" required></ion-input>
     <hr style="height:2px;border-width:0;color:gray;background-color:gray">


     *Observación de solicitud
          <ion-input [(ngModel)]="observacion" type="text" required></ion-input>
     <hr style="height:2px;border-width:0;color:gray;background-color:gray">
  
       
         *Precio unitario
          <ion-input [(ngModel)]="precio_unidad" type="number" (ngModelChange)="calculo()" required></ion-input>
     <hr style="height:2px;border-width:0;color:gray;background-color:gray">
      
      
        
         *Total
          <ion-input [(ngModel)]="total" type="text" required readonly></ion-input>
     <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        

       
       


<br>



<ion-button color="success" (click)=actualizar()>Enviar <ion-icon name="checkmark-circle-outline"></ion-icon></ion-button>
 <ion-button color="tertiary" (click)=Regresar()>Regresar <ion-icon name="backspace"></ion-icon></ion-button>
<br><br><br><br>
 </div>


     

</ion-content>
